* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.intro-chunk {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  margin: auto;
  max-width: 380px;
}

strong {
  color: hsla(152, 100%, 26%, 1);
}

.wealth-card-wrapper {
  background-color: hsla(152, 0%, 49%, 1);
  border: 5px solid inset;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
  border-top: 10px solid hsla(152, 0%, 36%, 1);
}

.wealth-card {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border-bottom: 5px solid hsla(152, 0%, 36%, 1);
}

h2 {
  max-width: fit-content;
  background-color: gold;
  margin-left: -30px;
  padding: 20px;
  border-bottom: 10px solid hsla(40, 100%, 36%, 1);
}
